<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="tracking-table" *ngIf="sampleData">
    <h1>Price Points</h1>
    <table>
      <thead>
        <tr>
          <th class="hidden">Exchange Name</th>
          <th>From Currency</th>
          <th>To Currency</th>
          <th>Price</th>
          <th>Latest Volume</th>
          <th>24Hr Volume</th>
          <th class="last-column">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sampleData">
          <ng-container *ngIf="data">
          <td class="first-column">{{data[1]}}</td>
          <td>{{data[2]}}</td>
          <td class="greyscale">{{data[3]}}</td>
          <td>{{data[5] | currency:'USD':'symbol':'1.2-2'}}</td>
          <td class="greyscale">{{data[7]}}</td>
          <td>{{data[11] | currency:'USD':'symbol':'4.2-2'}}</td>
          <td class="last-column greyscale">{{getInt(data[6]) * 1000 | date:'medium'}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="transaction-feed">
      <h1>Transaction Feed</h1>
      <button (click)="sub()">Subscribe</button>
      <button (click)="unsub()">Unsubscribe</button>
    <table class="transaction-table">
        <thead>
          <tr>
            <th>Exchange Name</th>
            <th>From Currency</th>
            <th>To Currency</th>
            <th>Trade ID</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th class="last-column">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tradeData" [ngStyle]="{'background-color': styleForTx(data[4])}">
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[5]}}</td>
            <td>{{data[7] | number:'1.6-6'}}</td>
            <td>{{data[8] | currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{data[9] | currency:'USD':'symbol':'1.2-2'}}</td>
            <td class="last-column">{{getInt(data[6]) * 1000 | date:'medium'}}</td>
          </tr>  
        </tbody>
      </table>
  </div>
</div>

